---
import Layout from "../layouts/Outla.astro"
import GRADE from "../components/GetActivity.jsx"
---




<Layout>

    <!-- <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link "  href="/attendance">ATTENDANCE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/participation">PARTICIPATION</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/quizzes">QUIZZES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active "  href="/project">PROJECT/ACTIVITY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "  href="/exam">MAJOR EXAM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/addstudent">ADD STUDENT</a>
          </li>
      </ul> -->

<GRADE client:load/>
      

</Layout>