---
import 'bootstrap/dist/css/bootstrap.min.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>Grades</title>
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
		
	</head>
	<body style="height: 100vh;">
		<div class="row h-100 ">
			<div class="col d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 250px;">
			
				<hr>
				<ul class="nav nav-pills flex-column mb-auto">
				  <li class="nav-item">
					<a href="/" class="nav-link active" aria-current="page">
				
					YAWA
					</a>
				  </li>
				 
				</ul>
				<hr>
			
			  </div>
			<div class="col-10">
				<div class="card" >
					<div class="card-header">
						
						  
						  <nav aria-label="breadcrumb">
							<ol class="breadcrumb">
							  <li class="breadcrumb-item"> <a href="/">Home</a></li>
							  <li class="breadcrumb-item active" aria-current="page">Subject List</li>
							</ol>
						  </nav>
						  
						
					  
					</div>
					<div class="card-body">
						<ul class="list-group card-title">
							<li class="list-group-item"><a href="/">SELECT</a> An item</li>
							<li class="list-group-item"><a href="/">SELECT</a> An item</li>
							<li class="list-group-item"><a href="/">SELECT</a> An item</li>
							<li class="list-group-item"><a href="/">SELECT</a> An item</li>
							<li class="list-group-item"><a href="/">SELECT</a> An item</li>
							<li class="list-group-item"><a href="/">SELECT</a> An item</li>
							<li class="list-group-item"><a href="/">SELECT</a> An item</li>
							<li class="list-group-item"><a href="/">SELECT</a> An item</li>
						  </ul>
					
					</div>
				  </div>
			</div>
			
		</div>

		<script src="/bootstrap/dist/js/bootstrap.bundle.min.js" type="module"></script>
	</body>
</html>
